* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    /* background-color: black; */
    height: 70px;
    padding: 0px 134px 20px 134px;
}

/* ###################### NAV BAR STYLES ###################### */

.nav-bar {
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}

.nav-bar__div1 {
    flex: 0.4;
    /* background-color: blue; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 20px;
}
.nav-bar__div1 img{
    height: 25;
}
.nav-bar__div2 {
    /* flex: 0.1; */
    height: 50px;
    width: 2px;
    margin-top: 10px;
    background-color: red;
    background-color: #cccccc;
}
.nav-bar__div2 p {
    padding-bottom: 40px;

}
.nav-bar__div3 {
    flex: 2;
    margin-top: 20px;
    /* background-color: orange; */
}
.nav-bar__div3 ul {
    display: flex;
    list-style: none;
    /* background-color: orange; */
}
.nav-bar__div3 li {
    margin-left: 4vw;
    margin-right: 4vw;
    font-weight: 600;
    /* background-color: orange; */
}
.nav-bar__div3 li a {
    color: #797979;
    text-decoration: none;
}
.nav-bar__div4 {
    margin-top: 20px;
    flex: 0.4;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-bar__div4 button {
    display: flex;
    font-weight: 600;
    font-size: 16;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border: 1px #ccc solid;
    height: 35px;
    width: 80px;
    border-radius: 15px;
    padding-bottom: 3px;
}

/* ######################## HERO SECTION STYLES ############################## */

.hero {
    height: 93vh;
    /* background-color: blanchedalmond; */
    display: flex;
    padding-left: 134px;
    padding-right: 134px;
}

.hero__div1 {
    flex: 2;
    /* background-color: grey; */

}

.hero__div1--heading {
    margin: 78px 7vw 32px 0px;
    /* background-color: yellow; */
    font-size: 4vw;
    font-weight: 800;
    color: #000c33;
}

.hero__div1--p1 {
    font-size: 17px;
    color: #535353;
    font-weight: 400;
    line-height: 19.5px;
    margin-bottom: 32px;
}

.hero__div1--buttons {
    /* background-color: black; */
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    /* justify-content: space-around; */
}

.hero__div1--buttons button {
    border-radius: 30px;
    font-size: 16px;
    color: white;
    height: 53px;
    background-color: #00bfff;
    padding: 16px 48px 16px 48px;

}

.hero__div1--p2 {
    /* background-color: orange; */
    margin: 0px 0px 20px 0px;
}

.hero__div1--person {
    /* background-color: red; */
    display: flex;
}
.hero__div1--person img {
    height: 5vw;
    width: 5vw;
}
.hero__div1--person-details {
    margin: 10px 0px 0px 20px;
}

.hero__div1--person-name {
    margin: 0px 0px 5px 0px;
    font-weight: 600;
    font-size: 18px;
}
.hero__div1--person-occupation{
    color: #797979;
    font-size: 12;
}

.hero__div2 {
    flex: 0.5;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    position: relative;
}
.hero__image{
    height: 80vh;
    width: 25vw;
    margin-top: 70px;
    margin-right: 20px;
    /* background-color: #000c33; */
    background-image: url('images/hero_student.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.hero__time-item{
    height: 10vh;
    padding: 5px;
    background-color: #fff;
    width: 15vw;
    border-radius: 10px;
    align-self: flex-end;
    position: absolute;
    bottom: -15px;
    right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__clock-icon{
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background-image: url('images/clock-solid.svg');
    /* background: #00bfff; */
    background-repeat: no-repeat;
}
.hero__studytime{
    justify-content: space-between;
}
#study-time{
    font-size: 14px;
    color: #aaa;
    margin-bottom: 8px;
}
#study-hours{
    color:#000c33;
    font-weight: 600;
    font-size: 16px;
}
/* ###################### WHY SECTION ######################## */
.why-section {
    height: 40vh;
    /* background-color: blue; */
    padding: 32px 134px 32px 134px;
}

.why-section__images {
    display: flex;
    align-items: center;
    justify-content: center;

}

.why-section__text {
    font-size: 18px;
    color: #aaa;
    text-align: center;
    margin-top: 32px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.why-section img {
    margin: 40px 40px 32px 40px;
    width: 140px;
    height: 50px;
    background-color: black;
}

/* ###################### How it works SECTION ######################## */

.how-it-works {
    height: 90vh;
    /* background-color: cadetblue; */
    padding: 32px 134px 32px 134px
}
.how-it-works__text h2{
    text-align: center;
    color: #000c33;
    font-weight: 600;
    font-size: 45px;
    margin: 32px 0px 32px 0px;
}
.how-it-works__text p{
    text-align: center;
    color: #000c33;
    font-size: 18px;
    line-height: 30px;
    margin: 32px 0px 32px 0px;
}
.how-it-works__steps {
    height: 50vh;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.how-it-works__steps-item {
    height: 40vh;
    width: 240px;
    /* background-color: black; */
}
.how-it-works__steps-item-icon{
    height: 130px;
    width: 130px;
    background-color: #c0cdfa;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-it-works__steps-item-text h3{
    color: #000c33;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}
.how-it-works__steps-item-text p{
    color: #000c33;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
    margin-top: 15px;
}
.how-it-works__steps-item-icon-div2{
    height: 80px;
    width: 80px;
    background-color: #2581eb;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-it-works__icon{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
}
.htw-icon1{
    background-image: url('images/clock-solid.svg');

}
.htw-icon2{
    background-image: url('images/clock-solid.svg');
}
.htw-icon3{
    background-image: url('images/clock-solid.svg');
}
/* ###################### BENEFITS SECTION ######################## */

.benefits-section {
    height: 130vh;
    /* background-color: dimgray; */
    padding-left: 134px;
    padding-right: 134px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 32px 32px;
}

.benefits-section__div1 {
    height: 60vh;
    background-color: #fff;
}
.benefits-section__icon-item{
    display: flex;
    width: 18vw;
    /* background-color: #00bfff; */
    margin: 4vh 0px 0px 0px;
}
.benefits-section__icon-item-text{
    margin-left: 15px;
    margin-top: 10px;
    color: #000;
}
.benefits-section__div2 {
    height: 60vh;
    /* background-color: green; */
    position: relative;
}
.benefits-section__image1{
    height: 55vh;
    width: 36vw;
    background-color: #fff;
    background-image: url('images/motivated.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
}
.benefits-section__button button{
    height: 6vh;
    width: 10vw;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 30px;
    margin-top: 40px;
    color: #1641cf;
    font-size: 18px;
    font-weight: 600;
}
.benefits-section__stacked-card{
    padding: 20px;
    height: 22vh;
    width: 25vw;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: -60px;
    border-radius: 20px;
}
.benefits-section__stacked-card p{
    color: #535353;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 30px;
}
.benefits-section__title h3{
    color: #000c33;
    font-size: 50px;
    margin: 0px 0px 5vh 0px;
}
.benefits-section__title p{
    color: #535353;
    font-size: 16px;
}
.benefits-section__div3 {
    height: 60vh;
    /* background-color: orange; */
}

.benefits-section__div4 {
    height: 60vh;
    /* background-color: red; */
}

/* ###################### TESTIMONIAL SECTION ######################## */

.testimonial-section {
    height: fit-content;

    /* background-color: cornsilk; */
    padding: 40px 134px 40px 134px;
}
.testimonial-section__text{
    /* background-color: #000; */
    margin: auto;
    margin-bottom: 40px;
}
.testimonial-section__text h2{
    color: #000c33;
    font-size: 55px;
    text-align: center;
    width: 34vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.testimonial-section__text p{
    color: #000c33;
    font-size: 20px;
    text-align: center;
    width: 34vw;
    margin: auto;
    line-height: 40px;
    margin-bottom: 40px;
}
.testimonial-section__text button{
    height: 7vh;
    width: 11vw;
    background-color: #00bfff;
    border: 1px transparent solid;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 18px;
}

.testimonial-section__grid-container {
    padding: 40px;
    display: grid;
    grid-template-columns: 26vw 26vw 26vw;
    grid-template-rows: 42vh;
    /* grid-template-rows: auto auto; */
    /* gap: 40px; */
    /* margin-left: 134px; */
    /* margin-right: 134px; */
}
.testimonial-section__div1{
    height: 40vh;
    width: 25vw;
    padding: 40px;
    /* background-color: green; */
    border: 1px #00bfff solid;
    border-radius: 30px;

}
.testimonial-section__div2{
    height: 47vh;
    width: 25vw;
    /* background-color: orange; */
    border-radius: 30px;
    border: 1px #00bfff solid;
    /* margin-bottom: 40px; */

}
.testimonial-section__div3{
    height: 45vh;
    width: 25vw;
    /* background-color: red; */
    margin-bottom: 100px;
    border: 1px #00bfff solid;
    border-radius: 30px;
}
.testimonial-section__div4{
    height: 34vh;
    width: 25vw;
    /* background-color: yellow; */
    margin-top: 50px;
    border: 1px #00bfff solid;
    border-radius: 30px;
}
.testimonial-section__div5{
    height: 34vh;
    width: 25vw;
    /* background-color: black; */
    border: 1px #00bfff solid;
    border-radius: 30px;
    /* margin-top: 50px; */

}
.testimonial-section_profile{
    display: flex;
}
.testimonial-section__img1{
    width: 80px;
    height: 80px;
    background-size: cover;
    /* background-color: #000; */
    background-image: url('images/testimonial1.png');
}
.testimonial-section__name{
    color: #000c33;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 5px;
}
.testimonial-section__tag{
    font-size: 18px;
    color: #1641cf;
}
.testimonial-section__testimonial{
    line-height: 40px;
    color: #797979;
    font-size: 20px;
    margin-top: 28px;
}
/* ###################### FAQS SECTION ######################## */

.faqs-section {
    height: fit-content;
    /* background-color: red; */
    padding: 60px 134px 60px 134px;
    display: block;
    text-align: center;
}
.faqs-section__text h2{
    color: #000c33;
    font-size: 6vh;
    margin-bottom: 40px;
}
.faqs-section__text p{
    color: #535353;
    font-size: 2.1vh;
    line-height: 30px;
    margin-bottom: 40px;
}
.faqs-section__faq-container {
    height: 60vh;
    /* background-color: aquamarine; */
    display: block;
    text-align: center;
    padding: 20px;
}
.faqs-section__faq-item1{
    border: 1px solid #2581eb;
    height: fit-content;
    padding: 0px 40px 20px 40px;
    width: 70%;
    border-radius: 15px;
    margin: auto;

}
.faqs-section__faq-item1 p{
    font-size: 14px;
    color: #535353;
    line-height: 30px;
    text-align: left;
    margin-top: 14px;
}
.faqs-section__qn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqs-section__qn-container p{
    font-size: 18px;
    color: #1641cf;
    font-weight: 600;
}
.faqs-section__qn-container button{
    border: 0px;
    /* margin-top: 10px; */
}
.faqs-section__button{
    width: 18px;
    height: 3px;
    background-color: #1641cf;
    border: 0px;
}
.faqs-section__faq-item2{
    border: 1px solid #797979;
    height: fit-content;
    padding: 20px 40px 20px 40px;
    width: 70%;
    border-radius: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}
.faqs-section__qn-container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqs-section__qn-container2 p{
    font-size: 18px;
    color: #000c33;
    font-weight: 600;
}
.faqs-section__qn-container2 button{
    border: 0px;
    /* margin-top: 10px; */
}

/* ###################### JOIN SECTION ######################## */

.join-section {
    height: fit-content;
    padding: 40px;
    /* background-color: chocolate; */
}
.join-section__div{
    margin: auto;
}

.join-section__div h2{
    color:#000c33;
    font-size: 40px;
    text-align: center;
    line-height:50px;
}
.join-section__buttons{
    display: flex;
    width: fit-content;
    padding: 40px;
    /* background-color: black; */
    margin: auto;
}
.join-section__buttons button{
    height: 50px;
    width: fit-content;
    padding: 10px 30px;
    border: 0px;
    border-radius: 40px;
    background-color: #2581eb;
    margin: 0px 40px 0px 40px;
    color: #fff;
    font-size: 16px;
    /* font-weight: 600; */
}

/* ###################### FOOTER SECTION ######################## */

footer {
    height: fit-content;
    /* background-color: aqua; */
    padding: 32px 134px 32px 132px;
}
.footer__divider{
    width: 100%;
    height: 1px;
    background-color: #00bfff;
    margin-bottom: 80px;
}
.footer__upper{
    display: flex;
    margin-bottom: 60px;
}

.footer__div1{
    flex: 1;
    height: 10vh;
    /* background-color:#00bfff; */
    margin-right: 5vw;
}
.footer__div2{
    flex: 0.5;
    height: fit-content;
    /* background-color:#00bfff; */
    margin: 0px 50px 20px 0px;
}
.footer__lower{
    display: flex;
    justify-content: space-between;
    color: #535353;
}
.footer__div1 h2{
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__div1 p{
    color: #797979;
    font-size: 14px;
    width: 150px;
    line-height: 25px;
}
.footer__div2 h2{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer__div2 ul{
    list-style: none;
}
.footer__div2 ul li{
    line-height: 35px;
    color: #797979;
}